_archive/data_samples/Upload Files to Gemini File Search.json
{
    "nodes": [
        {
            "parameters": {
                "formTitle": "Upload Files to Gemini File Search",
                "formDescription": "Upload PDF, md or text files to be indexed in Google Gemini File Search Store",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Upload File",
                            "fieldType": "file",
                            "multipleFiles": false,
                            "acceptFileTypes": ".pdf, .txt, .md",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Store Name",
                            "requiredField": true
                        }
                    ]
                },
                "options": {
                    "appendAttribution": false,
                    "buttonLabel": "Upload File"
                }
            },
            "id": "9138625f-2399-4656-9929-1884e4912902",
            "name": "File Upload Form",
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.3,
            "position": [
                1712,
                2272
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=[https://generativelanguage.googleapis.com/upload/v1beta/files](https://generativelanguage.googleapis.com/upload/v1beta/files)",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Goog-Upload-Header-Content-Type",
                            "value": "=={{ $json.mimetype }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "=data"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c7afd04f-a348-4044-8b25-a40b7f72b3be",
            "name": "Upload File to Store",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2144,
                2272
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIALS_ID",
                    "name": "Gemini-API-Auth"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                1712,
                1840
            ],
            "id": "94a37c57-7c2f-4f1f-925f-5c900ccd59ba",
            "name": "When chat message received"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                2208,
                2016
            ],
            "id": "fa87b910-6882-4bc9-a507-ae818c8ab82b",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "store_name",
                            "name": "store_name",
                            "value": "fileSearchStores/REPLACE-WITH-YOUR-STORE-ID",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1920,
                1840
            ],
            "id": "00c3ae61-da90-429f-9b6e-d6e49f12505e",
            "name": "Set Store Name"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=[https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent](https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent)",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('When chat message received').item.json.chatInput }}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"fileSearch\": {\n        \"fileSearchStoreNames\": [\"{{ $('Set Store Name').item.json.store_name }}\"]\n      }\n    }\n  ]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                2384,
                2016
            ],
            "id": "d300f2cb-b37f-49ef-a821-0c4b7e84f2a2",
            "name": "search_documents",
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIALS_ID",
                    "name": "Gemini-API-Auth"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are a document search assistant. You have ONE job: search documents and answer questions.\n\nMANDATORY BEHAVIOR:\n- When user mentions \"document\", \"file\", \"content\", or asks ANY question → IMMEDIATELY call search_documents tool\n- DO NOT ask for clarification\n- DO NOT say \"please provide your question\"\n- DO NOT wait for more information\n- JUST SEARCH\n\nHOW TO HANDLE VAGUE QUESTIONS:\nUser: \"what's in this document?\"\nYou: [IMMEDIATELY call search_documents(\"provide a comprehensive summary of all content in the document\")]\n\nUser: \"tell me about the heygen partnership\"\nYou: [IMMEDIATELY call search_documents(\"what information is available about the heygen partnership?\")]\n\nUser: \"summarize\"\nYou: [IMMEDIATELY call search_documents(\"summarize all content and main topics in the document\")]\n\nRESPONSE FORMAT after calling tool:\n1. Extract answer from: candidates[0].content.parts[0].text\n2. If there are citations in groundingMetadata.groundingChunks, mention them\n3. Give concise, direct answer\n\nNEVER SAY:\n❌ \"Please provide your question\"\n❌ \"I'm ready to assist\"\n❌ \"How can I help you today?\"\n❌ \"Please specify\"\n\nALWAYS DO:\n✅ Call search_documents immediately\n✅ Parse the result\n✅ Answer directly\n\nIf user says ANYTHING about documents → CALL THE TOOL NOW. No exceptions.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                2128,
                1840
            ],
            "id": "917b0d50-9434-4a8d-836d-660f06cc0c7e",
            "name": "Gemini RAG Agent"
        },
        {
            "parameters": {
                "content": "# Agent + Gemini RAG",
                "height": 416,
                "width": 944
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1664,
                1728
            ],
            "typeVersion": 1,
            "id": "27b0e11f-29db-4190-93af-6e88163af8eb",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "# Upload File for Vectorization",
                "height": 304,
                "width": 864,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1664,
                2176
            ],
            "typeVersion": 1,
            "id": "2d3c4b4d-b39a-495d-92d8-433d218d3951",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "model": "gpt-4.1",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
            "typeVersion": 1,
            "position": [
                2048,
                2000
            ],
            "id": "a0b1335b-57e8-4cb4-9e14-e5fec1575b1d",
            "name": "Azure OpenAI Chat Model",
            "credentials": {
                "azureOpenAiApi": {
                    "id": "YOUR_AZURE_CREDENTIALS_ID",
                    "name": "Azure Open AI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ===========================================\n// Node Name: \"Prepare File for Upload\"\n// ===========================================\n// PURPOSE:\n// 1. Find the uploaded file from the form\n// 2. Fix the MIME type (forms send 'application/octet-stream' which Gemini rejects)\n// 3. Rename binary field to 'data' for HTTP Request compatibility\n// 4. Pass along the Store Name for creating the File Search Store\n\nreturn items.map(item => {\n  // --- 1. Extract Store Name from form ---\n  const storeName = (item.json['Store Name'] || '').trim();\n  \n  if (!storeName) {\n    throw new Error('Store Name is required');\n  }\n  \n  // --- 2. Find the uploaded file metadata ---\n  const possibleFieldNames = ['Upload File', 'Document', 'File', 'Attachment', 'file'];\n  let uploadFile = null;\n  \n  for (const fieldName of possibleFieldNames) {\n    if (item.json[fieldName] && typeof item.json[fieldName] === 'object') {\n      uploadFile = item.json[fieldName];\n      break;\n    }\n  }\n  \n  // Fallback: find any object with filename/mimetype properties\n  if (!uploadFile) {\n    for (const [key, value] of Object.entries(item.json)) {\n      if (value && typeof value === 'object' && (value.filename || value.mimetype)) {\n        uploadFile = value;\n        break;\n      }\n    }\n  }\n  \n  if (!uploadFile) {\n    throw new Error('No uploaded file found in form data');\n  }\n\n  // --- 3. CRITICAL FIX: Detect correct MIME type from file extension ---\n  const filename = uploadFile.filename || 'unnamed_file';\n  const extension = filename.split('.').pop()?.toLowerCase() || '';\n  \n  const mimeTypeMap = {\n    // Text files\n    'md': 'text/markdown',\n    'markdown': 'text/markdown',\n    'txt': 'text/plain',\n    'csv': 'text/csv',\n    'tsv': 'text/tab-separated-values',\n    'html': 'text/html',\n    'htm': 'text/html',\n    'xml': 'text/xml',\n    'json': 'application/json',\n    'yaml': 'text/yaml',\n    'yml': 'text/yaml',\n    \n    // Documents\n    'pdf': 'application/pdf',\n    'doc': 'application/msword',\n    'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n    'xls': 'application/vnd.ms-excel',\n    'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n    'ppt': 'application/vnd.ms-powerpoint',\n    'pptx': 'application/vnd.openxmlformats-officedocument.presentationml.presentation',\n    \n    // Code files\n    'js': 'text/javascript',\n    'ts': 'application/typescript',\n    'py': 'text/x-python',\n    'java': 'text/x-java',\n    'c': 'text/x-c',\n    'cpp': 'text/x-c++src',\n    'cs': 'text/x-csharp',\n    'go': 'text/x-go',\n    'rs': 'text/x-rust',\n    'rb': 'text/x-ruby-script',\n    'php': 'text/php',\n    'sql': 'application/sql',\n    'sh': 'application/x-sh',\n  };\n  \n  const correctMimeType = mimeTypeMap[extension] || 'text/plain';\n  \n  console.log(`🏪 Store Name: ${storeName}`);\n  console.log(`📁 File: ${filename}`);\n  console.log(`📄 Extension: ${extension}`);\n  console.log(`❌ Original MIME: ${uploadFile.mimetype}`);\n  console.log(`✅ Corrected MIME: ${correctMimeType}`);\n\n  // --- 4. Get and standardize binary data with CORRECTED MIME type ---\n  const binaryKeys = Object.keys(item.binary || {});\n  \n  if (binaryKeys.length === 0) {\n    throw new Error('No binary data found - file upload may have failed');\n  }\n  \n  const originalBinary = item.binary[binaryKeys[0]];\n  \n  const binaryData = {\n    data: {\n      ...originalBinary,\n      mimeType: correctMimeType\n    }\n  };\n\n  // --- 5. Build clean output with Store Name included ---\n  return {\n    json: {\n      // Store info\n      storeName: storeName,\n      storeDisplayName: storeName,  // Will be used when creating the store\n      \n      // File info\n      filename: filename,\n      mimetype: correctMimeType,\n      originalMimetype: uploadFile.mimetype,\n      size: uploadFile.size || 0,\n      \n      // Metadata\n      submittedAt: item.json.submittedAt || new Date().toISOString(),\n      formMode: item.json.formMode || 'production'\n    },\n    binary: binaryData\n  };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1936,
                2272
            ],
            "id": "8ebc00d4-395c-402b-8225-0cf8f77e53fb",
            "name": "Prepare File for Upload"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=[https://generativelanguage.googleapis.com/v1beta/](https://generativelanguage.googleapis.com/v1beta/){{ $('Prepare File for Upload').item.json.storeName }}:importFile",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"fileName\": \"{{ $json.file.name }}\" }",
                "options": {}
            },
            "id": "fd4b913e-bcfe-4c00-a26d-af3c97e3bba4",
            "name": "Import to Store",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2336,
                2272
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIALS_ID",
                    "name": "Gemini-API-Auth"
                }
            }
        },
        {
            "parameters": {
                "content": "# Create File Store",
                "height": 304,
                "width": 560,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1664,
                2528
            ],
            "typeVersion": 1,
            "id": "3e70c62f-974b-47d9-b1e8-d6eb720a8e17",
            "name": "Sticky Note2"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                1728,
                2640
            ],
            "id": "09067122-7bda-4cce-a9cf-1dd296097020",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "[https://generativelanguage.googleapis.com/v1beta/fileSearchStores](https://generativelanguage.googleapis.com/v1beta/fileSearchStores)",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "display_name",
                            "value": "youtube-transcript"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c9565574-31e8-40c4-84c1-d362ffd9829c",
            "name": "Create RAG File Search Store",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1952,
                2640
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIALS_ID",
                    "name": "Gemini-API-Auth"
                }
            }
        }
    ],
    "connections": {
        "File Upload Form": {
            "main": [
                [
                    {
                        "node": "Prepare File for Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload File to Store": {
            "main": [
                [
                    {
                        "node": "Import to Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Set Store Name",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Gemini RAG Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Store Name": {
            "main": [
                [
                    {
                        "node": "Gemini RAG Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "search_documents": {
            "ai_tool": [
                [
                    {
                        "node": "Gemini RAG Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Azure OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini RAG Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare File for Upload": {
            "main": [
                [
                    {
                        "node": "Upload File to Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Import to Store": {
            "main": [
                []
            ]
        },
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "Create RAG File Search Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create RAG File Search Store": {
            "main": [
                []
            ]
        }
    }
}